@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* DESIGN SYSTEM TOKENS */
  --Color-Text-Heading-White: #fff;

  /* connect design system → next/font */
  --Type-Font-Family-Headings: var(--font-jakarta);

  --Font-Size-Headings-h1: 4rem;
  --Line-Height-Headings-h1: 5rem;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  background: var(--background);
  color: var(--foreground);

  /* GLOBAL DEFAULT FONT */
  font-family: var(--Type-Font-Family-Headings);
}
/* smooth infinite marquee */


/* smooth infinite marquee */

@keyframes marquee-left-to-right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* smooth infinite marquee */

@keyframes marquee-left-to-right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: marquee-left-to-right 30s linear infinite;
}
